In [3]:
import requests
import pandas
import json
from datetime import datetime,timedelta

Definig the dates

In [4]:
start_date=datetime(2024,5,1)
end_date=datetime(2024,6,1)

Set the base URLS and Headers for the request

In [13]:
base_url = "https://vegetablemarketprice.com/api/dataapi/market/delhi/daywisedata?date="
headers = {
    "accept": "*/*",
    "accept-language": "en-GB,en-US;q=0.9,en;q=0.8",
    "sec-ch-ua": "\"Not/A)Brand\";v=\"8\", \"Chromium\";v=\"126\", \"Google Chrome\";v=\"126\"",
    "sec-ch-ua-mobile": "?0",
    "sec-ch-ua-platform": "\"Windows\"",
    "sec-fetch-dest": "empty",
    "sec-fetch-mode": "cors",
    "sec-fetch-site": "same-origin",
    "cookie": "JSESSIONID=B996C5FEEF5F71FAA879510F6CE9AFDC; _ga=GA1.1.535926437.1720420786; __gads=ID=7673b94fb107ab94:T=1720420985:RT=1720420985:S=ALNI_MZaMdMCI5z42qCo_9s6_iB2ypAYDQ; __gpi=UID=00000e86b68b21eb:T=1720420985:RT=1720420985:S=ALNI_MZfzGgSlxFImJ_lyzPSJj_A7ChXTA; __eoi=ID=8326e63330e6f562:T=1720420985:RT=1720420985:S=AA-AfjYcXGdhgxLcbO91Dln4iXv6; _ga_2RYZG7Y4NC=GS1.1.1720420786.1.1.1720420843.0.0.0; FCNEC=%5B%5B%22AKsRol9HaOJf02fJNprg3yCx_nxuucr1ZviVEst1uKkpGfGV0e-Ep06fngjTP8pPbM4Rl3TaZDRHvttV3pb1N92aNVqOV_ZGDAmWjA4iBlf9YkajjHt1wxvyrUbzlNI7hqQYbwK4OwszjCySNujnGYskYUZ2C4NpOw%3D%3D%22%5D%5D",
    "Referer": "https://vegetablemarketprice.com/market/delhi/today",
    "Referrer-Policy": "strict-origin-when-cross-origin"
}

Initialize the list to store the data

In [14]:
js_arr=[]

Function to generate the dates between start_date and end_date

In [15]:
def daterange(start_date, end_date):
    for n in range(int((end_date - start_date).days) + 1):
        yield start_date + timedelta(n)

Loop through each data to extract info

In [16]:
for single_date in daterange(start_date, end_date):
    date = single_date.strftime("%Y-%m-%d")
    url = base_url + date

    response = requests.get(url, headers=headers)
    
    if response.status_code == 200:
        js_data = json.loads(response.text)
        for api in js_data.get("data", []):
            veg_name = str(api["vegetablename"])
            wholesale_price = str(api["price"])
            retail_price = str(api["retailprice"])
            unit = str(api["units"])
            mall_price = str(api["shopingmallprice"])
            vegetable_image = api.get("image", "")

            new_js = {
                "Date": date,
                "State Name": "New Delhi",
                "Vegetable Name": veg_name,
                "Wholesale Price": wholesale_price,
                "Retail Price": retail_price,
                "Shopping Mall Price": mall_price,
                "Units": unit,
                "Vegetable Image": vegetable_image
            }
            js_arr.append(new_js)
    else:
        print(f"Failed to retrieve data for {date}")

In [17]:
df = pd.DataFrame(js_arr)
print(df.head())

         Date State Name  ... Units Vegetable Image
0  2024-05-01  New Delhi  ...   1kg
1  2024-05-01  New Delhi  ...   1kg
2  2024-05-01  New Delhi  ...   1kg
3  2024-05-01  New Delhi  ...   1kg
4  2024-05-01  New Delhi  ...   1kg

[5 rows x 8 columns]

In [18]:
df.sample(10)

            Date State Name  ... Units Vegetable Image
802   2024-05-15  New Delhi  ...   1kg
1432  2024-05-27  New Delhi  ...   1kg
190   2024-05-04  New Delhi  ...   1kg
41    2024-05-01  New Delhi  ...   1kg
43    2024-05-01  New Delhi  ...   1kg
1651  2024-05-31  New Delhi  ...   1kg
1397  2024-05-26  New Delhi  ...   1kg
1487  2024-05-28  New Delhi  ...   1kg
1648  2024-05-31  New Delhi  ...   1kg
811   2024-05-16  New Delhi  ...   1kg

[10 rows x 8 columns]

In [19]:
output_csv_path = 'vegetable_prices_new_delhi.csv'
df.to_csv(output_csv_path, index=False)

print(f"Data saved to {output_csv_path}")

Data saved to vegetable_prices_new_delhi.csv